fastapi==0.75.0
jose==1.0.0
passlib==1.7.4
pydantic==1.9.0
pydantic[email]==1.9.0
python_jose==3.3.0
uvicorn==0.15.0
python-multipart==0.0.5
pymongo==3.12.3
beanie==1.10.0
pdfminer.six==20211012
aio-pika==7.1.2
fastapi_jwt_auth==0.5.0