.formContainer {
  width: 20vw;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  .formContent {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    margin: 0 auto;
    .formName {
      margin: 0 auto 10px;
    }
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      button {
        margin: 30px 30px 10px;
      }
    }
  }
}
