button {
  background-color: #07668c;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
  color: white;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #07668c;
  border-radius: 28px;
  display: flex;
  align-items: center;
  &:hover {
    opacity: 0.8;
  }
  &:disabled {
    opacity: 0.5;
  }
}

.small {
  font-size: 14px;
  padding: 10px 20px;
}
