.button {
  background-color: #1b7f79;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
  color: white;
  cursor: pointer;

  padding: 12px 24px;
  margin: 20px 30px;

  border: 1px solid #1b7f79;
  border-radius: 5px;
}
