.inputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 14px;

  .input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.4rem;
    padding: 0.8rem 1.6rem;
    border-radius: 0.2rem;
    border: 1px solid lightblue;
    width: 200px;
  }
  .label {
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin: 0 0 4px 10px;
  }
}
