.filesListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  margin-top: 20px;
  margin-bottom: 30px;
  height: 60%;
  padding-bottom: 20px;
  h2 {
    margin-bottom: 10px;
  }
  .listWrapper {
    list-style-type: none;
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    overflow: auto;

    .listItem {
      &:first-child {
        margin-top: 10px;
      }
      &:last-child {
        margin-bottom: 20px;
      }
      text-decoration: none;
      margin: 3px 0;
      width: 100%;
      border-radius: 10px;
      border: 1px solid aqua;
      &.selected {
        border: 2px solid green;
      }
      .fileContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        span {
          font-size: 1.6rem;
        }
        svg {
          position: absolute;
          left: 80%;
          font-size: 1.6rem;
          margin-top: 3px;
          &:hover {
            cursor: pointer;
            opacity: 0.8;
          }
        }
      }
    }
  }
}
