.filesListContainer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  height: 60%;
  h2 {
    margin-bottom: 10px;
  }
  .listWrapper {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    overflow-y: scroll;

    .listItem {
      &:first-child {
        margin-top: 20px;
      }
      &:last-child {
        margin-bottom: 20px;
      }
      text-decoration: none;
      margin: 3px 0;
      width: 60%;
      border-radius: 10px;
      border: 1px solid aqua;

      .fileContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          font-size: 1.6rem;
          margin-right: 10px;
        }
        svg {
          font-size: 1.6rem;
          margin-top: 5px;
          &:hover {
            cursor: pointer;
            opacity: 0.8;
          }
        }
      }
    }
  }
}
