.headerContainer {
  height: 8%;
  background-color: #024873;
  display: flex;
  justify-content: space-between;
  a {
    display: flex;
    align-items: center;
    font-size: 3.2rem;
    color: #f2f2f2;
    margin-left: 3rem;
    height: 100%;
    text-decoration: none;
  }
  .authButtons {
    display: flex;
    align-items: center;
    margin-right: 20px;
    div {
      display: flex;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1.4rem;
        min-width: 100px;
        height: 50%;
        background-color: #7e9abf;
        opacity: 0.8;
        margin: 0 10px;
        border-radius: 8px;
        color: #fff;
        padding: 3px;
        text-decoration: none;

        span {
          background-color: #024873;

          padding: 5px 20px;
          border-radius: 6px;
          width: 100%;
          height: 100%;
          transition: 300ms;
        }

        &:hover span {
          background: none;
          cursor: pointer;
        }
      }
    }
  }
}
